<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Cabinet Infirmier
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block header %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		    <link rel="shortcut icon" type="image/png" href="{{ asset('build/img/favicon.ico') }}" />
			{# {{ include('/fixe/_header.html.twig') }} #}
		{% endblock %}
	</head>
	<body>
		<div class="container-fluid px-0">	
			<div class="row">
				<div class="d-none d-lg-block ">

				</div>
				<div class="
				">
					{% block body %}{% endblock %}
				</div>
			</div>	
		</div>

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}

            {# Bootstrap (le css de bootstrap est déjà installé via Encore Webpack #}
			<!-- JS, Popper.js, and jQuery -->
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		{% endblock %}


		{% block footer %}
			{# {{ include('/fixe/_footer.html.twig') }} #}
		{% endblock %}
	</body>
</html>